/* Cart Page Price Details Section */
.price-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .price-details h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .price-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .price-item:last-child {
    border-bottom: none;
  }
  
  .price-item span {
    font-size: 16px;
    color: #666;
  }
  
  .price-item.total {
    font-weight: bold;
    font-size: 18px;
    color: #000;
  }
  
  .price-item span:last-child {
    font-weight: bold;
  }
  
  .proceed-to-pay {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #ed3535;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .proceed-to-pay:hover {
    background-color: #e25659;
  }
  